-e git+https://github.com/djangify/adminita.git@e406bf2cd0bcd378a99eb9fdb5354771c0c1f396#egg=adminita
asgiref
beautifulsoup4
certifi
cffi
charset-normalizer
cryptography
Django==6.0
psycopg[binary]
django-cors-headers
django-environ
django-js-asset
django-prose-editor
django-storages
django-tinymce
django-widget-tweaks
djangorestframework
gunicorn
idna
packaging
pillow
pycparser
requests
soupsieve
sqlparse
typing_extensions
tzdata
urllib3
whitenoise
