asgiref
certifi
cffi
charset-normalizer
cryptography
Django==6.0
django-cors-headers
django-environ
djangorestframework
gunicorn
idna
packaging
pillow
pycparser
requests
sqlparse
typing_extensions
tzdata
urllib3
whitenoise
